main,nav
{
    display: flex;

}

body
{
    margin:0
}

.side-bar
{
    width:356px;
}

.side-bar a
{
    width: 100%;
    padding: 8px 10px;
    display: block;
}

.side-bar div
{
    display: flex;
    flex-direction: column;
}